.white {
    color: white;
}  

footer>nav>div {
    color: white;
}
.pointer {
    cursor: pointer;
}
.img {
    width: 99.1% !important;
}

.carousel-item>img{
    max-height: 300px;
}


@media (max-width: 575px) {
    .row {
        justify-content: center;
    }
    .mobile-not {
        display: none;
    }
  }
  

