<ng-container class="grid" *ngIf="!isLoading">

  <ng-container class="row mt-4">
    <div class="col-md-12 buscador">
      <div class="sorters">
        <button class="btn btn-outline-primary" (click)="sortByDate()">Orden por fecha</button>
        <button class="btn btn-outline-primary m-l1" (click)="sortByPrice()">Orden por precio</button>
      </div>
      <div class="search">
        <input type="search" class="form-control browser" placeholder="search" [(ngModel)]="filter">
      </div>
    </div>
  </ng-container>

  <ng-container class="row">
<!-- <app-evento-item class="card" *ngFor="let evento of eventos | eventFilter:filter ; index as i"
                                          [evento]="evento"
                                          (delete)="deleteEvento($event)"></app-evento-item> -->
    <div class="grid mt-4">
      <div class="row">

        <div class="col-md-8 offset-md-2">
          <div class="card-columns mt-4">
            <div class="card pointer" *ngFor="let evento of eventos | eventFilter:filter ; index as i" (click)="verDetalle(evento.id)">
              <img [src]=evento.image class="card-img-top img-fluid" alt="Imagen del evento">
              <div class="card-body">
                <h4 class="card-title" (click)=x(evento)>
                  {{ evento?.title | titlecase }}
                </h4>
              </div>
              <div class="card-footer text-muted">
                {{ evento?.date | date:'dd/MM/y' }}
                <span class="float-right"> {{ evento?.price | currency:'EUR':'symbol'}}</span>
              </div>
            </div>


          </div>
              <h3 *ngIf="eventos.length === 0">No hay eventos disponibles</h3>
        </div>

      </div>
    </div>

  </ng-container>

</ng-container>
